
<table class="list projects tree sortable">
  <thead>
    <tr>
      <th><%= t :field_name %></th>
      <th><%= t :field_created_on %></th>
    </tr>
  </thead>
  <tbody>
    <% project_tree(projects) do |project, level| %>
      <tr class="<%= cycle('odd', 'even') %> <%= level > 0 ? "treegrid-#{project.id} treegrid-parent-#{project.parent.id}" : "treegrid-#{project.id}" %>">
        <td class="name">
          <span>
            <%= link_to_project(project, {}, :class => "#{project.css_classes} #{User.current.member_of?(project) ? 'my-project' : nil}") %>
          </span>
        </td>
        <td class="projcreated">
          <%= format_date(project.created_on) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'jquery.treegrid', :plugin => 'projects_table' %>
  
  <%= javascript_include_tag 'sorttable', :plugin => 'projects_table' %>
  
  <%= javascript_include_tag 'jquery.treegrid', :plugin => 'projects_table' %>
  <%= javascript_include_tag 'jquery.cookie', :plugin => 'projects_table' %>
      <script type="text/javascript">
        $(document).ready(function() {
          $('.tree').treegrid({
            'initialState': 'collapsed',
            'saveState': true,
          });
        });
      </script>
<% end %>
